a.link {
    text-decoration: none;
}

.profilePicture {
    width: 100%;
    border-radius: 50%
}

.bioHeadline {
    color: #bababa
}

.sectionTitle {
    color: #878787
}

.bottomPad {
    height: 20px;
}