.searchInput {
    height: 40px;
    border-radius: 0;
}

.info {
    background-color: #1d181f;
    color: #adadad
}

.infoBox {
    background-color: #201b23;
}

.preferences {
    border-radius: 0;
}

.preferenceItem {
    background-color: #242424;
    color: #bfbfbf;
    font-size: 14px;
    border-color: #1f1f1f;
    border-radius: 0;
}

.preferenceButton {
    background-color: #000000;
    color: #bfbfbf;
}

.preferenceInput {
    background-color: #1f1f1f;
    border: 0;
}

.preferencesVisibility {
    display: none;
}

.link {
    text-decoration: none;
}

.resultItem {
    border-radius: 0;
    border: 0;
    background-color: #111111
}

.resultItemTitle {
    font-size: 14px
}

.resultItemDescription {
    font-size: 14px
}

.resultItemLink {
    font-size: 14px
}

.resultItemContent {
    background-color: #181818;
    font-size: 13px;
    white-space: pre-wrap;
    max-height: 80vh;
    overflow: scroll;
}

.resultItemContentCode {
    color: #39ff14;
}

.resultItemContent::-webkit-scrollbar {
    display: none;
}

.lastModifiedTime {
    font-size: 12px;
    color: #393939
}


